@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.force-hide-tab-bar {
  display: none !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
a:focus,
input:focus {
  outline: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

ion-tab-button {
  --color-selected: #000000;
  --ripple-color: rgba(0, 0, 0, 0.2);
}

ion-tab-bar {
  --background: #ffffff;
}

@media (max-width: 767px) {
  ion-header {
    padding-top: max(env(safe-area-inset-top), 24px) !important;
    background-color: white;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: max(env(safe-area-inset-top), 24px);
  }
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 20px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #ffffff !important;
    --ion-text-color: #000000 !important;
    --ion-item-background: #ffffff !important;
    --ion-color-step-50: #f2f2f2 !important;
    --ion-color-step-100: #e6e6e6 !important;
    --ion-color-step-150: #d9d9d9 !important;
    --ion-toolbar-background: #ffffff !important;
    --ion-toolbar-color: #000000 !important;
  }
}
